.sobre {
    background: white ;
    padding: 10xp;

}
.sobre h2 {
    text-align: right;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0,0,0.0,0.2);
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #facc15;
}

form{
    display: block; /
}
input, textarea{
    width: 50%;
}
.hero {
    padding: 100px 20px;
    background: linear-gradient(to right, #1E3A8A, #3B82F6);
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
    text-align: center;
}